.about{
    margin: 4em 0 0 0;

    @include flex(row, nowrap, none, none, 0);

    @include dp(){
        @include flex(column, nowrap, none, none, 0);
    }

    @include mb(){
        margin: 2em 0 0 0;
        @include flex(column, nowrap, none, none, 0);
    }

    .title{

        &__h1{
            margin: 2rem 0 0 13rem;

            color: $title;
            font-family: $font-title;
            font-size: $font-size-2;
            
            position: absolute;

            @include dp(){
                // font-size: $font-size-3;
                margin: 2rem 0 0 0;
            };

            @include mb(){
                margin: 1em 0 0 0.5em;
            }
        }

        &__img{
            width: 190rem;
            height: 100%;
            image-orientation: center center;
            object-fit: cover;
        }

    }

    .description{
        margin: 8em 0 0 5em;

        @include flex(row, nowrap, none, none, 0);

        @include dp(){
            @include flex(column, nowrap, none, none, 0);
            margin: 1em 0;
            padding: 1em;
        }

        @include mb(){
            @include flex(column, nowrap, none, none, 0);
            margin: 2em 0;
        }

        &__p{
            text-align: left;
            font-size: $font-size-4;
            font-weight: 300;
            line-height: 1.6rem;

        }

        &__p--margin{
            margin: 0 0 0 5em;

            @include dp(){
                margin: 1em 0 0 0;
            }

            @include mb(){
                margin: 1em 0 0 0;
            }
        }
    }

}

