.header{
    margin: 4em 0 0 0;
    width: 100%;

    height: 9.5rem;

    @include flex(row, none, space-between, none, 0);
    @include mb(){margin: 2em 0 0 0;}

    .navbar{

        @include flex(column, nowrap, center, center, 1.25em);

        &__li{
            font-size: $font-size-5;
        }
    }

    .brand{
        display: flex;
        align-items: center;

        &__logo{
            width: 100%;


            @include mb(){
                width: 12rem;

            }
        }
    }

    .active{
        text-align: left;
        padding: 0.5em 0.7em;
        border: 1px solid $text;
        border-radius: 50%;
    }
}