
  
.marquee {
    height: 25px;
    width: 100%;
  
    overflow: hidden;
    position: relative;
    background-color: $title;
    color: $primary ;
  }
  
  .marquee div {
    display: block;
    width: 200%;
    height: 30px;
  
    position: absolute;
    overflow: hidden;
  
    animation: marquee 10s linear infinite;

  }
  
  .marquee span {

    float: left;
    width: 50%;
    font-family: $font-base;
    font-weight: 700;
    font-size: 1.2rem;
  }


  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }