
    .project__container{
        margin: 4.875rem 0 0 0;

        @include mb(){
            margin: 2em 0 0 0;
        }

        

        .card{
            padding: 1.31rem 0 1.31rem 0.8rem;
            background-color: $primary;
            width: 24.5rem;
            height: 27.5rem;
            color: $text;

            border-left: 0.5rem solid $tertiary;
            border-style: inset;
            
            transition: all 0.3s ease;
            position: relative;
            outline: none;
            z-index: 0;
            background: #fff;


  
              &:hover:after {
                width: 100%;
              }
              &:after {
                content: "";
                position: absolute;
                z-index: -1;
                transition: all 0.3s ease;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: #610a0a;
              }


            @include flex(column, nowrap, space-between, none, 0);

            @include mb(){
                margin: 1em 0 0 0;
                width: 18rem;
                height: 22rem;
                @include flex(column, nowrap, space-between, 0, 0);
            }

            &__header{
                margin: 0;
                height: 19.375rem;
                min-width: 24rem;
                position: relative;
                z-index: 1;


                @include mb(){
                    height: 15rem;
                    min-width: 20rem;
                }


                .header__img{
                    filter: invert(0.1);
                    filter: brightness(0.5);
                    filter: grayscale(1);

                    @include mb(){
                        width: 15rem;
                        image-orientation: center center;
                        background-size: contain;
                    }
                }

                .header__p{
                    margin: 1rem 0 0 7rem;

                    text-align: left;
                    position: absolute;
                    z-index: 2;
                    position: absolute;
                    width: 21rem;
                    font-size: $font-size-4;
                    font-family: $font-base;
                    font-weight: 300;
                    color: $text;
                    background-color: $primary;

                    @include mb(){
                        width: 9rem;
                        margin: 0;
                        font-size: $font-size-4;
                    }

                    @include dp(){
                        margin: 0;
                        width: 9rem;
                        font-size: $font-size-3;
                    }
                }
            }

            &__buttons{

                @include flex(row, nowrap, flex-start, none, 2em);
                
                .card__a{
                    padding: 0.1em 0.2em;
                    border: 1px solid $text;
                }
            }
        } 

        

    }