.skills{
    margin: 5.75rem 0 0 0;
    width: 100%;
    text-align: center;

    @include flex(column, nowrap, none, none, 0);

    @include mb(){
        margin: 4em 0 0 0;
    }

    @include dp(){
        margin: 4em 0 0 0;
    }


    &__title{
        font-size: $font-size-2;
        font-family: $title;
        color: $title;
        text-decoration: line-through;
        text-decoration-color: #EBBB0D;
    }

    &__container{
        margin: 4.875rem 0 0 0;
        width: 100%;

        @include flex(row, nowrap, flex-start, flex-start, 9rem);

        @include mb(){
            margin: 3em 0 0 0;
            @include flex(column, wrap, flex-start, center, 0);
        }

        @include dp(){
            margin: 3em 0 0 0;
            @include flex(column, wrap, flex-start, center, 0);
        }

    }

    
    .skills__text{
        text-align: left;
        font-weight: 300;
        font-size: $font-size-4;

        @include flex(column, nowrap, none, none, 0.3em);

        @include gl(){
            @include flex(column, nowrap, none, none, 0.5rem);
        }
    }   

    .skills__text--row{

        @include mb(){
            @include flex(row, nowrap, flex-start, none, 2em);
        }

    }

    .softwares{
        
        @include mb(){
            align-self: flex-start;
        }

        @include dp(){
            align-self: flex-start;
        }

        .skills__description{

            @include flex(row, nowrap, flex-start, none, 8em);
        }

        .skills__description--gap{

            @include mb(){
                @include flex(row, nowrap, flex-start, none, 6em);
            }

        }
    }

    .softskills{

        width: 33rem;
        
        @include mb(){
            width: 100%;
            margin: 2em 0 0 0;
        }

        @include dp(){
            width: 100%;
            margin: 2em 0 0 0;
        }

    }

    .study{
        text-align: left;

        @include mb(){
            margin: 2em 0 4em 0;
            align-self: flex-start;
        }

        @include dp(){
            margin: 2em 0 4em 0;
            align-self: flex-start;
        }
    }


    &__section{

        .skills__h5{
            margin: 0 0 2.375rem 0;
            text-align: left;
            font-weight: 300;
            color: $title;
            font-size: $font-size-3;
            font-family: $title;

            @include mb(){
                margin: 0 0 1em 0;
            }
        }


        .skills__span{
            display: inline-block;
            text-align: left;
        }

        .skills__span--bold{
            font-weight: 700;
        }
    }

    &__img{
        padding: 0;
        margin: 6em 0 5em 0;
        width: 7.5rem;

        @include mb(){
            display: none;
        }

        @include dp(){
            display: none;
        }
    }
    
}