.skills{
    margin: 5.75rem 0 0 0;
    width: 100%;
    text-align: center;

    @include flex(column, nowrap, none, none, 0);


    &__title{
        font-size: $font-size-2;
        font-family: $title;
        color: $title;
        text-decoration: line-through;
        text-decoration-color: #EBBB0D;
    }

    &__container{
        margin: 4.875rem 0 0 0;

        @include flex(row, nowrap, center, flex-start, 9rem);

        @include dp(){
            @include flex(column, nowrap, center, flex-start, 0);
        }

    }

    
    .skills__text{
        text-align: left;
        font-weight: 300;
        font-size: $font-size-4;

        @include flex(column, nowrap, none, none, 0.3em);
    }   

    .softwares{
        min-width: 33rem;

        .skills__description{

            @include flex(row, nowrap, flex-start, none, 8em);
  
        }
    }

    .softskills{
        min-width: 33rem;

        .softskills__text{

            @include flex(column, nowrap, none, none, 0);
            
        }
    }

    .study{
        width: 100%;
        text-align: left;
    }

    &__section{

        .skills__h5{
            margin: 0 0 2.375rem 0;
            text-align: left;
            font-weight: 300;
            color: $title;
            font-size: $font-size-3;
            font-family: $title;
        }


        .skills__span{
            display: inline-block;
            text-align: left;
        }

        .skills__span--bold{
            font-weight: 700;
        }
    }

    &__img{
        padding: 0;
        margin: 6em 0 5em 0;
        width: 7.5rem;
    }
    
}