@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=IBM+Plex+Mono:wght@100;300;500;600&display=swap');

//Fonts
$font-title: 'Archivo Black', sans-serif;
$font-base:  'IBM Plex Mono', monospace;

//Fonts-size
$font-size-1: 3.75rem;
$font-size-2: 3rem;
$font-size-3: 1.875rem;
$font-size-4: 1.5rem;
$font-size-5: 1.125rem;


//Colors
$title: #F2F2F2;
$text: #9C9C9C;
$primary: #1C1C1C;
$secondary: #EBBB0D;
$tertiary: #B51414; 